.navbar {
    width:250px; 
    max-width: 100%; 
}

.fixed-tab-padding {
    padding: 8px 4px !important;
}

@media (max-width:601px){
    .navbar {
        width: 100%; 
        max-width: 100%; 
    }
    .mobile-small {
        font-size: small !important;
    }
    .mobile-medium {
        font-size: medium !important;
    }
    .mobile-full {
        width: 100%;
    }
}