.dicebox {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 4;    
    pointer-events: none;
}

:root {
    --d6-size: 100px;
    --d6-half-size: 50px;

    --d20-size: 100px;
    --d20-half-size: 50px;
}

.d6 {
    width: var(--d6-size);
    height: var(--d6-size);
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(calc(-1 * var(--d6-half-size)));
    transition: transform 1s ease-out;
    backface-visibility: hidden;
}

.d6-show-1  { transform: translateZ(-100px) rotateY(   0deg); }
.d6-show-2  { transform: translateZ(-100px) rotateY(-180deg); }
.d6-show-3  { transform: translateZ(-100px) rotateY( -90deg); }
.d6-show-4  { transform: translateZ(-100px) rotateY(  90deg); }
.d6-show-5  { transform: translateZ(-100px) rotateX( -90deg); }
.d6-show-6  { transform: translateZ(-100px) rotateX(  90deg); }

.d6 .face {
    position: absolute;
    width: var(--d6-size);
    height: var(--d6-size);
    border: 4px solid white;
    line-height: var(--d6-size);
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
    background: black;  opacity: 1;
}

.d6 .face-1  { transform: rotateY(  0deg) translateZ(var(--d6-half-size)); }
.d6 .face-2  { transform: rotateY(180deg) translateZ(var(--d6-half-size)); }
.d6 .face-3  { transform: rotateY( 90deg) translateZ(var(--d6-half-size)); }
.d6 .face-4  { transform: rotateY(-90deg) translateZ(var(--d6-half-size)); }
.d6 .face-5  { transform: rotateX( 90deg) translateZ(var(--d6-half-size)); }
.d6 .face-6  { transform: rotateX(-90deg) translateZ(var(--d6-half-size)); }

.d20 {
    width: 100px;
    height: 100px;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-50px);
    transition: transform 1s ease-out;
}

.d20 .face {
    position: absolute;
	left: 50%;
	top: 0;
	margin: 0 -50px;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 86px solid rgba(0, 0, 0, 1);
	width: 0px;
	height: 0px;
	transform-style: preserve-3d;
	backface-visibility: hidden;
	counter-increment: steps 1;
}

.d20 .face:before {
    content: counter(steps);
    top: 21.5px;
	left: -100px;
    position: absolute;

    font-size: 40px;
    text-align: center;
    font-weight: bold;
    color: white;
    line-height: 77.4px;
    width: 200px;
    height: 86px;
}

.d20-show-1  { transform: rotateX(-53deg) rotateY(0deg); }	  
.d20-show-2  { transform: rotateX(-53deg) rotateY(72deg); }	  
.d20-show-3  { transform: rotateX(-53deg) rotateY(144deg); }	  
.d20-show-4  { transform: rotateX(-53deg) rotateY(216deg); }	  
.d20-show-5  { transform: rotateX(-53deg) rotateY(288deg); }
.d20-show-16 { transform: rotateX(127deg) rotateY(-72deg); }
.d20-show-17 { transform: rotateX(127deg) rotateY(-144deg); }
.d20-show-18 { transform: rotateX(127deg) rotateY(-216deg); }
.d20-show-19 { transform: rotateX(127deg) rotateY(-288deg); }
.d20-show-20 { transform: rotateX(127deg) rotateY(-360deg); }
.d20-show-6  { transform: rotateX(11deg) rotateZ(180deg) rotateY(0deg); }	  
.d20-show-7  { transform: rotateX(11deg) rotateZ(180deg) rotateY(72deg); }	  
.d20-show-8  { transform: rotateX(11deg) rotateZ(180deg) rotateY(144deg); }	  
.d20-show-9  { transform: rotateX(11deg) rotateZ(180deg) rotateY(216deg); }
.d20-show-10 { transform: rotateX(11deg) rotateZ(180deg) rotateY(288deg); }
.d20-show-11 { transform: rotateX(11deg) rotateY(-252deg); }
.d20-show-12 { transform: rotateX(11deg) rotateY(-324deg); }
.d20-show-13 { transform: rotateX(11deg) rotateY(-396deg); }
.d20-show-14 { transform: rotateX(11deg) rotateY(-468deg); }
.d20-show-15 { transform: rotateX(11deg) rotateY(-540deg); }

.d20 .face-1  { transform: rotateY(0deg) translateZ(33.5px) translateY(-12.9px) rotateX(53deg); }
.d20 .face-2  { transform: rotateY(-72deg) translateZ(33.5px) translateY(-12.9px) rotateX(53deg);}
.d20 .face-3  { transform: rotateY(-144deg) translateZ(33.5px) translateY(-12.9px) rotateX(53deg); }
.d20 .face-4  { transform: rotateY(-216deg) translateZ(33.5px) translateY(-12.9px) rotateX(53deg); }
.d20 .face-5  { transform: rotateY(-288deg) translateZ(33.5px) translateY(-12.9px) rotateX(53deg); }
.d20 .face-16 { transform: rotateY(-108deg) translateZ(33.5px) translateY(121.26px) rotateZ(180deg) rotateX(53deg); }
.d20 .face-17 { transform: rotateY(-36deg) translateZ(33.5px) translateY(121.26px) rotateZ(180deg) rotateX(53deg); }
.d20 .face-18 { transform: rotateY(36deg) translateZ(33.5px) translateY(121.26px) rotateZ(180deg) rotateX(53deg); }
.d20 .face-19 { transform: rotateY(108deg) translateZ(33.5px) translateY(121.26px) rotateZ(180deg) rotateX(53deg); }
.d20 .face-20 { transform: rotateY(180deg) translateZ(33.5px) translateY(121.26px) rotateZ(180deg) rotateX(53deg); }
.d20 .face-6  { transform: rotateY(360deg) translateZ(75px) translateY(54.18px) rotateZ(180deg) rotateX(-11deg); }
.d20 .face-7  { transform: rotateY(288deg) translateZ(75px) translateY(54.18px) rotateZ(180deg) rotateX(-11deg); }
.d20 .face-8  { transform: rotateY(216deg) translateZ(75px) translateY(54.18px) rotateZ(180deg) rotateX(-11deg); }
.d20 .face-9  { transform: rotateY(144deg) translateZ(75px) translateY(54.18px) rotateZ(180deg) rotateX(-11deg); }
.d20 .face-10 { transform: rotateY(72deg) translateZ(75px) translateY(54.18px) rotateZ(180deg) rotateX(-11deg); }
.d20 .face-11 { transform: rotateY(252deg) translateZ(75px) translateY(54.18px) rotateX(-11deg); }
.d20 .face-12 { transform: rotateY(324deg) translateZ(75px) translateY(54.18px) rotateX(-11deg); }
.d20 .face-13 { transform: rotateY(396deg) translateZ(75px) translateY(54.18px) rotateX(-11deg); }
.d20 .face-14 { transform: rotateY(468deg) translateZ(75px) translateY(54.18px) rotateX(-11deg); }
.d20 .face-15 { transform: rotateY(540deg) translateZ(75px) translateY(54.18px) rotateX(-11deg); }