:root {
    --lcars-background-main-colour: rgb(4, 19, 34);
    --lcars-background-accent-colour: rgb(0, 0, 0);

    --lcars-foreground-primary-colour: #FF9104;
    --lcars-foreground-secondary-colour: #CC99CC;
    --lcars-foreground-highlight-colour: #4455BB;
}

.lcars-dark-blue {
    background-color: rgb(19, 61, 135);
}
.lcars-disabled {
    background-color: rgb(11, 36, 80);
}

body {
    background-color: var(--lcars-background-main-colour);
    color: white;
}

@media print {
    body {
        background-color: white;
        color: black;
    }
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

.lcars {
    padding: 0;
    margin: 0;
}

.lcars .vertical-space {
    padding-top: 8px;
}

.lcars .typeface {
    font-family: 'Impact', Tahoma, sans-serif;
    color: var(--lcars-foreground-primary-colour);
    letter-spacing: 1px;
}

.viewport {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

.lcars .padding {
    padding: 5px 5px;
}

.lcars .primary {
    background-color: var(--lcars-foreground-primary-colour) !important;
    color: black;
}

.lcars-primary {
    background-color: var(--lcars-foreground-primary-colour) !important;
    color: black;
}
    
.lcars .border-primary {
    border-color: var(--lcars-foreground-primary-colour) !important;
}
.lcars-border-primary {
    border: 1px solid var(--lcars-foreground-primary-colour) !important;
}


.lcars .text-primary {
    color: var(--lcars-foreground-primary-colour) !important;
}

.lcars .secondary {
    background-color: var(--lcars-foreground-secondary-colour) !important;
    color: black;
}

.lcars-secondary {
    background-color: var(--lcars-foreground-secondary-colour) !important;
    color: black;
}
.lcars-border-secondary {
    border: 1px solid var(--lcars-foreground-secondary-colour) !important;
}

.lcars .border-secondary {
    border: 1px solid var(--lcars-foreground-secondary-colour) !important;
}

.lcars .border-secondary-left {
    border-style: solid;
    border-color: var(--lcars-foreground-secondary-colour) !important;
    border-width: 0px 0px 0px 10px;
}

.lcars .text-secondary {
    color: var(--lcars-foreground-secondary-colour) !important;
}
    

.lcars .highlight {
background-color: var(--lcars-foreground-highlight-colour) !important;
color: white;
}

.lcars .border-highlight {
border-color: var(--lcars-foreground-highlight-colour) !important;
}
.lcars-border-highlight {
    border-color: var(--lcars-foreground-highlight-colour) !important;
}
    

.lcars .text-highlight {
color: var(--lcars-foreground-highlight-colour) !important;
}

.lcars .row {
    display: flex;
    flex-direction: row;
}

.lcars .row .row-fill {
    flex: 1;
}

.lcars .wide {
    width: 100%;
}

.lcars .spacer {
    margin-left: 2px;
    padding-left: 4px;
    margin-right: 2px;
    padding-right: 4px;
}

.split {
display: inline-block;
width: 49%;
}

.left {
float: left;
}

.right {
float: right;
}

.lcars {
padding: 5px 5px;
}

.lcars .panel {
    display: inline-block;
}

.lcars .container {
padding: 5px 5px;
}

.lcars .rbar {
border-right: 10px solid var(--lcars-foreground-primary-colour);
}

.lcars .lbar {
border-left: 10px solid var(--lcars-foreground-primary-colour);
}

.lcars .hbar {
background-color: var(--lcars-foreground-primary-colour);
color: black;
text-align: right;
min-height: 10px;
}

.lcars .knee-right {
border-top-right-radius: 10px;
padding-right: 12px;
}
.lcars-knee-right {
    border-top-right-radius: 10px;
    padding-right: 12px;
}

.lcars .knee-left {
border-top-left-radius: 10px;
padding-left: 12px;
}
.lcars-knee-left {
    border-top-left-radius: 10px;
    padding-left: 12px;
}
    

.lcars .elbow-left {
    border-bottom-left-radius: 10px;
    padding-left: 12px;
}
.lcars-elbow-left {
    border-bottom-left-radius: 10px;
    padding-left: 12px;
}

.lcars .elbow-right {
    border-bottom-right-radius: 10px;
    padding-right: 12px;
}
.lcars-elbow-right {
    border-bottom-right-radius: 10px;
    padding-right: 12px;
}


.lcars button:not(.no-lcars) {
font-family: 'Impact';
background-color: var(--lcars-foreground-secondary-colour);
color: black;
border-radius: 20px;
font-size: 21px;
user-select: none;
}

.lcars button:focus {
    outline: none !important;
}

.lcars button:hover {
background-color: var(--lcars-foreground-primary-colour);
}

.lcars select:not(.no-lcars) {
    border: none;
    color: var(--lcars-foreground-primary-colour);
    padding-left: 5px;
    padding-right: 5px;
    font-family: 'Impact';
    font-size: large;
}

.lcars select:focus {
    outline: none !important;
}

.lcars input:not(.no-lcars) {
    border: 1px solid var(--lcars-foreground-primary-colour);
    color: var(--lcars-foreground-primary-colour);
    background-color: black;
    padding-left: 5px;
    padding-right: 5px;
    font-family: 'Impact';
    font-size: large;
}

.lcars input:focus {
    outline: none !important;
}



.sensor-grid {
background-color: black;
background-image: -webkit-linear-gradient(rgb(255,145,4) 2px, transparent 2px),
-webkit-linear-gradient(left, rgb(255,145,4) 2px, transparent 2px),
-webkit-linear-gradient(rgba(256,145,4,.3) 1px, transparent 1px),
-webkit-linear-gradient(left, rgba(255,145,4,.3) 1px, transparent 1px);
background-image: -moz-linear-gradient(rgb(255,145,4) 2px, transparent 2px),
-moz-linear-gradient(left, rgb(255,145,4) 2px, transparent 2px),
-moz-linear-gradient(rgba(256,145,4,.3) 1px, transparent 1px),
-moz-linear-gradient(left, rgba(255,145,4,.3) 1px, transparent 1px);
background-image: -o-linear-gradient(rgb(255,145,4) 2px, transparent 2px),
-o-linear-gradient(left, rgb(255,145,4) 2px, transparent 2px),
-o-linear-gradient(rgba(256,145,4,.3) 1px, transparent 1px),
-o-linear-gradient(left, rgba(255,145,4,.3) 1px, transparent 1px);
background-image: linear-gradient(rgb(255,145,4) 2px, transparent 2px),
linear-gradient(to right, rgb(255,145,4) 2px, transparent 2px),
linear-gradient(rgba(256,145,4,.3) 1px, transparent 1px),
linear-gradient(to right, rgba(255,145,4,.3) 1px, transparent 1px);
background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
border: 2px solid white;
float: right;
margin-right: 250px;
margin-top: 10px;
animation: pulse-magnification 8s infinite;
}

@keyframes pulse-magnification {
0% { background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px; }
50% { background-size:200px 200px, 200px 200px, 40px 40px, 40px 40px;}
100% { background-size:100px 100px, 100px 100px, 40px 40px, 20px 20px; }
}