@page "/calculate/warpspeed"

<div class="lcars">
    <div class="container">
        <!-- Titlebar -->
        <div class="row">
            <div class="hbar knee-left secondary" style="width: 56px;"></div>
            <div class="hbar row-fill secondary"></div>
            <div class="typeface text-primary" style="margin-right: 10px; margin-left: 10px;">
                <span class="w3-xlarge">WARP SPEED</span>
            </div>
            <div class="hbar highlight" style="width: 240px; max-width: 100%;"></div>
        </div>
        <!-- Body -->
        <div class="row">
            <!-- Sidebar -->
            <div class="secondary" style="width: 120px"></div>
            <!-- Content Pane -->
            <div class="w3-padding row-fill">
                <div class="row">
                    <div class="hbar elbow-left knee-left" style="width: 32px;"></div>
                    <span class="spacer typeface text-secondary w3-large">
                        WARP FACTOR
                    </span>
                    <div class="hbar row-fill elbow-right knee-right" style="margin-right: 10px;"></div>
                </div>
                <div class="w3-row w3-margin-bottom">
                    <div class="w3-third w3-padding">
                        <input type="number" class="w3-grey" style="width:100%;" @bind="factor">
                    </div>
                    <div class="w3-third w3-padding">
                        <input type="text" style="width:100%;" readonly value="@(warp.LightSpeedFactor()) C">
                    </div>
                    <div class="w3-third w3-padding">
                        <input type="text" style="width:100%;" readonly value="@(warp.MetresPerSecond()) m/s">
                    </div>
                </div>
                <div class="row">
                    <div class="hbar elbow-left knee-left" style="width: 32px;"></div>
                    <span class="spacer typeface text-secondary w3-large">
                        FLIGHT TIME
                    </span>
                    <div class="hbar row-fill elbow-right knee-right" style="margin-right: 10px;"></div>
                </div>
                <div>
                    <table class="w3-table">
                        <thead>
                            <th>Distance (LY)</th>
                            <th>Time Of Flight</th>
                        </thead>
                        <tbody>
                            @for (var i = 1; i <= lightyears; i++) {
                                <tr>
                                    <td>@i</td>
                                    <td>@timeString(i)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    Light Years: <input type="number" @bind="lightyears"><br>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <div class="row">
            <div class="hbar elbow-left secondary" style="width: 56px;"></div>
            <div class="hbar row-fill secondary" style="margin-right: 10px;"></div>
            <div class="hbar highlight" style="width: 240px; max-width: 100%;"></div>
        </div>
    </div>
</div>

@code {

    private static double lyToM = 9.461e+15;

    private int lightyears = 8;

    private double factor {
        get => warp.Factor;
        set => warp = new WarpFactor(Math.Min(Math.Max(0, value), 10));
    }
    private WarpFactor warp = new WarpFactor(1);

    private string timeString(int i) {
        var timespan = warp.TimeOfFlight(i * lyToM);
        return string.Format("{0:D2} days {1:D2} hours {0:D2} minutes {0:D2} seconds", timespan.Days, timespan.Hours, timespan.Minutes, timespan.Seconds);
    }

}