@page "/calculate/timeline"

<LCARS Title="TIMELINE">
    <div class="w3-panel typeface">
        Enter a date either in standard calendar form, or as a stardate to determine where in the timeline of events the date occurs.
    </div>
    <div class="row">
        <div class="hbar elbow-left knee-left" style="width: 32px;"></div>
        <span class="spacer typeface text-secondary w3-large">
            STARDATE
        </span>
        <div class="hbar row-fill elbow-right knee-right" style="margin-right: 10px;"></div>
    </div>
    <div class="w3-row w3-margin-bottom">
        <div class="w3-half w3-padding">
            <input type="date" style="width:100%;" class="w3-grey" @bind="calendardate" />
        </div>
        <div class="w3-half w3-padding">
            <input type="number" style="width:100%;" class="w3-grey" @bind="stardate">
        </div>
    </div>
    <div class="row">
        <div class="hbar elbow-left knee-left" style="width: 32px;"></div>
        <span class="spacer typeface text-secondary w3-large">
            RECENT EVENTS
        </span>
        <div class="hbar row-fill elbow-right knee-right" style="margin-right: 10px;"></div>
    </div>
    <ul class="w3-ul">
        @foreach (var item in prime) {
            var difference = (_calendardate - item.Timestamp).TotalDays;
            if (difference > 0 && difference <= 730) {
                <li>-@(difference) Days - @item.Title</li>
            }
        }
    </ul>
    <div class="row">
        <div class="hbar elbow-left knee-left" style="width: 32px;"></div>
        <span class="spacer typeface text-secondary w3-large">
            UPCOMING EVENTS
        </span>
        <div class="hbar row-fill elbow-right knee-right" style="margin-right: 10px;"></div>
    </div>
    <ul class="w3-ul">
        @foreach (var item in prime.FromDate(_calendardate)) {
            var difference = (item.Timestamp - _calendardate).TotalDays;
            @if (difference <= (365*5)) {
            <li>+@(difference) Days - @item.Title</li>
            }
        }
    </ul>
</LCARS>

@code {

    private DateTime _calendardate = new DateTime(2371, 1, 1);
    private double _stardate = 48200.345782455;

    private DateTime calendardate {
        get => _calendardate;
        set {
            _calendardate = value;
            _stardate = _calendardate.Stardate();
        }
    }
    private double stardate {
        get => _stardate;
        set {
            _stardate = value;
            _calendardate = _stardate.AsStardate();
        }
    }

    Timeline prime = Timeline.PrimeTimeline();
    Timeline kelvin = Timeline.KelvinTimeline();
}