@page "/new/custom/npc"
@using Data
@inherits Page

<LCARS Title="NEW NPC TYPE">
    <NpcTypeEditor Character=character AllSpeciesOptions=AllSpeciesOptions></NpcTypeEditor>
    <div class="w3-padding w3-right-align">
        <button class="w3-blue" @onclick=save>Save</button>
    </div>
</LCARS>

@code {
    private RulebookContainer books = new RulebookContainer();
    private IEnumerable<Species> AllSpeciesOptions => books.AllRulebooks.SelectMany(book => book.Value.Species);

    protected override void OnInitialized() {
        books.AddRulebook("Homebrew", new UserCreatedSpeciesRulebook(Data));
    }

    private NpcCharacter character = new NpcCharacter() {
        Name = "",
        BaseStress = 10,
        Resistance = 0,
        Species = new Species{ Name="" },
        Values = new List<string> {},
        Focuses = new List<string> {},
        Attributes = new Attributes(0),
        Disciplines = new Disciplines (0),
        SpecialRules = new List<string> {},
        Equipment = new List<Item> {},
    };

    private void save() {
        if (Data.Custom == null)
            Data.Custom = new UserCustomData();
        if (Data.Custom.NpcCharacterTypes == null)
            Data.Custom.NpcCharacterTypes = new List<NpcCharacter>();

        Data.Custom.NpcCharacterTypes.Add(character);
        character = new NpcCharacter() {
            Name = "",
            BaseStress = 10,
            Resistance = 0,
            Species = new Species{ Name="" },
            Values = new List<string> {},
            Focuses = new List<string> {},
            Attributes = new Attributes(0),
            Disciplines = new Disciplines (0),
            SpecialRules = new List<string> {}
        };
        this.NavigationManager.NavigateTo("manage/custom");
    }

}