@page "/new/ship"

<LCARS Title="NEW SHIP">
    <div class="w3-panel typeface">
        This tool will guide you through the process of creating a vessel. Like with the player lifepath creator, please fill out all fields from top to bottom and advance to the next page of the process by using the 'Next' button.
    </div>
    <ShipMaker/>
</LCARS>

@code {
    
}