@page "/new/custom/species"
@inherits Page

<LCARS Title="NEW SPECIES">
    <CustomSpeciesEditor Species=customSpecies Talents=customSpeciesTalents></CustomSpeciesEditor>
    <div class="w3-padding w3-right-align">
        <button class="w3-blue" @onclick=save>Save</button>
    </div>
</LCARS>

@code {
    private CustomSpecies customSpecies = new CustomSpecies();
    private List<SpeciesRestrictedTalent> customSpeciesTalents = new List<SpeciesRestrictedTalent>();

    private void save() {
        if (customSpecies == null) {
            customSpecies = new CustomSpecies();
            return;
        }

        // Update the talents to be restricted to only this species
        foreach (var talent in customSpeciesTalents) {
            talent.species = customSpecies.Name;
        }

        // Ensure the custom data blocks exists
        if (Data.Custom == null) {
            Data.Custom = new UserCustomData();
        }
        if (Data.Custom.Species == null) {
            Data.Custom.Species = new UserCustomSpecies();
        }
        if (Data.Custom.Species.Definitions == null) {
            Data.Custom.Species.Definitions = new List<CustomSpecies>();
        }
        if (Data.Custom.Species.Talents == null) {
            Data.Custom.Species.Talents = new List<SpeciesRestrictedTalent>();
        }

        // Save the talents and the species to the app data
        Data.Custom.Species.Definitions.Add(customSpecies);
        foreach (var talent in customSpeciesTalents) {
            Data.Custom.Species.Talents.Add(talent);
        }

        // Reset
        customSpecies = new CustomSpecies();
        customSpeciesTalents.Clear();

        // Goto species
        NavigationManager.NavigateTo("manage/custom");
    }
}