@page "/new/custom/item"
@inherits Page

<LCARS Title="NEW ITEM">
    <ItemTypeEditor Item=item></ItemTypeEditor>
    <div class="w3-padding w3-right-align">
        <button class="w3-blue" @onclick=save>Save</button>
    </div>
</LCARS>

@code {
    private Item item = new Item();

    private void save() {
        if (Data.Custom == null)
            Data.Custom = new UserCustomData();
        if (Data.Custom.Items == null)
            Data.Custom.Items = new List<Item>();
        
        Data.Custom.Items.Add(item);
        item = new Item();
        this.NavigationManager.NavigateTo("manage/custom");
    }
}