@page "/new/custom/npc"
@using Data
@inherits AppComponentBase

<LCARS Title="NEW NPC TYPE">
    <div class="w3-panel typeface">
        This tool will allow you to create custom NPC types which can be used as allies or enemies for player encounters. When you are done, press the 'Save' button.
    </div>
    <div class="row">
        <div class="hbar elbow-left knee-left" style="width: 32px;"></div>
        <span class="spacer typeface text-secondary w3-large">
            DETAILS
        </span>
        <div class="hbar row-fill elbow-right knee-right"></div>
    </div>
    <div>
        <div class="row w3-padding">
            <span class="hbar elbow-left knee-left w3-padding">Name</span>
            <span class="hbar row-fill row" style="margin-left: 10px;">
                <input type="text" class="w3-padding w3-input"  @bind="character.Name"/>
            </span>
        </div>
        <div class="row w3-padding">
            <span class="hbar elbow-left knee-left w3-padding">Species</span>
            <span class="hbar row-fill row" style="margin-left: 10px;">
                <select class="w3-padding w3-input lcars-border-primary" style="background-color: black" @bind="character.Species.Name">
                    @foreach(var species in AllSpeciesOptions) {
                        <option>@species.Name</option>
                    }
                </select>   
            </span>
        </div>
        <div class="row w3-padding">
            <span class="hbar elbow-left knee-left w3-padding">Max Stress</span>
            <span class="hbar row-fill row" style="margin-left: 10px;">
                <input type="number" class="w3-padding w3-input"  @bind="character.BaseStress"/>
            </span>
        </div>
        <div class="row w3-padding">
            <span class="hbar elbow-left knee-left w3-padding">Resistance</span>
            <span class="hbar row-fill row" style="margin-left: 10px;">
                <input type="number" class="w3-padding w3-input"  @bind="character.Resistance"/>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="hbar elbow-left knee-left" style="width: 32px;"></div>
        <span class="spacer typeface text-secondary w3-large">
            ATTRIBUTES
        </span>
        <div class="hbar row-fill elbow-right knee-right" style="margin-right: 10px;"></div>
    </div>
    <div>
        <div class="w3-row w3-padding">
            <div class="hbar elbow-left knee-left w3-padding-large w3-quarter">
                <span>Control</span>
            </div>
            <div class="w3-threequarter" style="padding-left: 10px">
                <input type="number" class="w3-input" @bind=character.Attributes[0] placeholder="Name"/>
            </div>
        </div>
        <div class="w3-row w3-padding">
            <div class="hbar elbow-left knee-left w3-padding-large w3-quarter">
                <span>Fitness</span>
            </div>
            <div class="w3-threequarter" style="padding-left: 10px">
                <input type="number" class="w3-input" @bind=character.Attributes[2] placeholder="Name"/>
            </div>
        </div>
        <div class="w3-row w3-padding">
            <div class="hbar elbow-left knee-left w3-padding-large w3-quarter">
                <span>Presence</span>
            </div>
            <div class="w3-threequarter" style="padding-left: 10px">
                <input type="number" class="w3-input" @bind=character.Attributes[4] placeholder="Name"/>
            </div>
        </div>
        <div class="w3-row w3-padding">
            <div class="hbar elbow-left knee-left w3-padding-large w3-quarter">
                <span>Daring</span>
            </div>
            <div class="w3-threequarter" style="padding-left: 10px">
                <input type="number" class="w3-input" @bind=character.Attributes[1] placeholder="Name"/>
            </div>
        </div>
        <div class="w3-row w3-padding">
            <div class="hbar elbow-left knee-left w3-padding-large w3-quarter">
                <span>Insight</span>
            </div>
            <div class="w3-threequarter" style="padding-left: 10px">
                <input type="number" class="w3-input" @bind=character.Attributes[3] placeholder="Name"/>
            </div>
        </div>
        <div class="w3-row w3-padding">
            <div class="hbar elbow-left knee-left w3-padding-large w3-quarter">
                <span>Reason</span>
            </div>
            <div class="w3-threequarter" style="padding-left: 10px">
                <input type="number" class="w3-input" @bind=character.Attributes[5] placeholder="Name"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="hbar elbow-left knee-left" style="width: 32px;"></div>
        <span class="spacer typeface text-secondary w3-large">
            DISCIPLINES
        </span>
        <div class="hbar row-fill elbow-right knee-right" style="margin-right: 10px;"></div>
    </div>
    <div>
        <div class="w3-row w3-padding">
            <div class="hbar elbow-left knee-left w3-padding-large w3-quarter">
                <span>Command</span>
            </div>
            <div class="w3-threequarter" style="padding-left: 10px">
                <input type="number" class="w3-input" @bind=character.Disciplines[0] placeholder="Name"/>
            </div>
        </div>
        <div class="w3-row w3-padding">
            <div class="hbar elbow-left knee-left w3-padding-large w3-quarter">
                <span>Security</span>
            </div>
            <div class="w3-threequarter" style="padding-left: 10px">
                <input type="number" class="w3-input" @bind=character.Disciplines[1] placeholder="Name"/>
            </div>
        </div>
        <div class="w3-row w3-padding">
            <div class="hbar elbow-left knee-left w3-padding-large w3-quarter">
                <span>Science</span>
            </div>
            <div class="w3-threequarter" style="padding-left: 10px">
                <input type="number" class="w3-input" @bind=character.Disciplines[2] placeholder="Name"/>
            </div>
        </div>
        <div class="w3-row w3-padding">
            <div class="hbar elbow-left knee-left w3-padding-large w3-quarter">
                <span>Conn</span>
            </div>
            <div class="w3-threequarter" style="padding-left: 10px">
                <input type="number" class="w3-input" @bind=character.Disciplines[3] placeholder="Name"/>
            </div>
        </div>
        <div class="w3-row w3-padding">
            <div class="hbar elbow-left knee-left w3-padding-large w3-quarter">
                <span>Engineering</span>
            </div>
            <div class="w3-threequarter" style="padding-left: 10px">
                <input type="number" class="w3-input" @bind=character.Disciplines[4] placeholder="Name"/>
            </div>
        </div>
        <div class="w3-row w3-padding">
            <div class="hbar elbow-left knee-left w3-padding-large w3-quarter">
                <span>Medicine</span>
            </div>
            <div class="w3-threequarter" style="padding-left: 10px">
                <input type="number" class="w3-input" @bind=character.Disciplines[5] placeholder="Name"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="hbar elbow-left knee-left" style="width: 32px;"></div>
        <span class="spacer typeface text-secondary w3-large">
            VALUES
        </span>
        <div class="hbar row-fill elbow-right knee-right" style="margin-right: 10px;"></div>
    </div>
    <div>
        <StringEditor Items=character.Values></StringEditor>
        <div class="w3-row w3-padding">
            <div class="w3-half w3-left-align">
                <button class="w3-red" @onclick=@(() => { if (character.Values.Count > 0) { character.Values.RemoveAt(character.Values.Count - 1); } })>-</button>
            </div>
            <div class="w3-half w3-right-align">
                <button class="w3-blue" @onclick=@(() => character.Values.Add(string.Empty))>+</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="hbar elbow-left knee-left" style="width: 32px;"></div>
        <span class="spacer typeface text-secondary w3-large">
            FOCUSES
        </span>
        <div class="hbar row-fill elbow-right knee-right" style="margin-right: 10px;"></div>
    </div>
    <div>
        <StringEditor Items=character.Focuses></StringEditor>
        <div class="w3-row w3-padding">
            <div class="w3-half w3-left-align">
                <button class="w3-red" @onclick=@(() => { if (character.Focuses.Count > 0) { character.Focuses.RemoveAt(character.Focuses.Count - 1); } })>-</button>
            </div>
            <div class="w3-half w3-right-align">
                <button class="w3-blue" @onclick=@(() => character.Focuses.Add(string.Empty))>+</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="hbar elbow-left knee-left" style="width: 32px;"></div>
        <span class="spacer typeface text-secondary w3-large">
            SPECIAL RULES
        </span>
        <div class="hbar row-fill elbow-right knee-right" style="margin-right: 10px;"></div>
    </div>
    <div>
        <StringEditor Items=character.SpecialRules></StringEditor>
        <div class="w3-row w3-padding">
            <div class="w3-half w3-left-align">
                <button class="w3-red" @onclick=@(() => { if (character.SpecialRules.Count > 0) { character.SpecialRules.RemoveAt(character.SpecialRules.Count - 1); } })>-</button>
            </div>
            <div class="w3-half w3-right-align">
                <button class="w3-blue" @onclick=@(() => character.SpecialRules.Add(string.Empty))>+</button>
            </div>
        </div>
    </div>
    <div class="w3-padding w3-right-align">
        <button class="w3-blue" @onclick=save>Save</button>
    </div>
</LCARS>

@code {
    private RulebookContainer books = new RulebookContainer();
    private IEnumerable<Species> AllSpeciesOptions => books.AllRulebooks.SelectMany(book => book.Value.Species);

    protected override void OnInitialized() {
        books.AddRulebook("User Created", new UserCreatedSpeciesRulebook(Data));
    }

    private NpcCharacter character = new NpcCharacter() {
        Name = "",
        BaseStress = 10,
        Resistance = 0,
        Species = new Species{ Name="" },
        Values = new List<string> {},
        Focuses = new List<string> {},
        Attributes = new Attributes(0),
        Disciplines = new Disciplines (0),
        SpecialRules = new List<string> {}
    };

    private void save() {
        if (Data.Custom == null)
            Data.Custom = new UserCustomData();
        if (Data.Custom.NpcCharacterTypes == null)
            Data.Custom.NpcCharacterTypes = new List<NpcCharacter>();

        Data.Custom.NpcCharacterTypes.Add(character);
        character = new NpcCharacter() {
            Name = "",
            BaseStress = 10,
            Resistance = 0,
            Species = new Species{ Name="" },
            Values = new List<string> {},
            Focuses = new List<string> {},
            Attributes = new Attributes(0),
            Disciplines = new Disciplines (0),
            SpecialRules = new List<string> {}
        };
        this.NavigationManager.NavigateTo("manage/custom");
    }

}