@page "/new/custom"

<LCARS Title="CUSTOM DATA">
    <div class="w3-panel typeface">
        Create custom resources for use within your own campaigns where the species, items, or npc types provided in the official rulebooks do not provide what you require. 
    </div>
    <NavLink class="w3-button w3-block" href="new/custom/species" Match="NavLinkMatch.All">
        Custom Species
    </NavLink>
    <NavLink class="w3-button w3-block" href="new/custom/npc" Match="NavLinkMatch.All">
        Custom NPC Type
    </NavLink>
    <NavLink class="w3-button w3-block" href="new/custom/item" Match="NavLinkMatch.All">
        Custom Item
    </NavLink>
</LCARS>