@page "/"

<div class="w3-container">

<h1>Welcome</h1>

TrekSharp is a web-app written in C# for creating and managing resources for games of Modiphius's <a href="https://www.modiphius.net/collections/star-trek-adventures" target="_blank"> Star Trek Adventures </a> Tabletop RPG.
Currently you can create player characters, supporting characters, and ships, as well as manage threat and momentum tokens, or even roll challenge die and d20's straight from the website. 

<p>
    This project is Open Source on <a href="https://github.com/qkmaxware/TrekSharp" target="_blank">GitHub</a> and contributions are welcome in order to make this application an even better tool for players and game-masters.
</p>

</div>