@page "/"
@inherits Page

<div class="w3-container">

<h1>Welcome</h1>

TrekSharp is a <b>fan</b> made web-app written in C# for creating and managing resources for games of Modiphius' <a href="https://www.modiphius.net/collections/star-trek-adventures" target="_blank">Star Trek Adventures</a> Tabletop RPG.
Currently you can create player characters, supporting characters, and ships, as well as manage threat and momentum tokens, or even roll challenge die and d20's straight from the website. 

<p>
    This project is Open Source on <a href="https://github.com/qkmaxware/TrekSharp" target="_blank">GitHub</a> and contributions are welcome in order to make this application an even better tool for players and game-masters.
</p>

<LCARS Title="">
    <p>
        You may choose to view this application as a Game-Master or as a Player. A Player only has access to a restricted set of features compared to all the features that a Game-Master would be able to access.
    </p>
    <p>
        You may use the toggles along the top of the menu navigation bar on the left to freely switch between these two views.
    </p>
</LCARS>

<p>
    If you're interested in getting started with <a href="https://www.modiphius.net/collections/star-trek-adventures" target="_blank">Star Trek Adventures</a> check out some of the other resources available on the internet.
</p>
<ul class="w3-padding w3-ul w3-center" style="max-width: 640px; margin-left:auto; margin-right:auto;">
    <li><a href="https://www.modiphius.net/collections/star-trek-adventures" target="_blank">Modiphius' Star Trek Adventures Homepage</a></li>
    <li><a href="https://sta.modiphiusapps.hostinguk.org/index.html" target="_blank">Modiphius' Official Character Creator</a></li>
    <li><a href="https://continuingmissionsta.com/" target="_blank">Continuing Mission Fan Site</a></li>
    <li><a href="https://memory-alpha.fandom.com/" target="_blank">Memory Alpha Wiki</a></li>
</ul>

</div>