@page "/manage/custom"
@inherits Page

<LCARS Title="CUSTOM SPECIES">
    @if (Data.Custom != null && Data.Custom.Species != null && Data.Custom.Species.Definitions != null) {
    <Col3Layout Items="Data.Custom.Species.Definitions">
        <Template>
            <div>
                <div class="row">
                    <div class="hbar elbow-left knee-left" style="width: 32px;"></div>
                    <div class="typeface" style="margin-left: 10px; margin-right: 10px;">
                        @context.Name 
                        <button class="w3-red" @onclick=@(() => confirmDeleteSpecies(context))>&times;</button>
                    </div>
                    <div class="hbar row-fill elbow-right knee-right"></div>
                </div>
                <ul>
                    @if (Data.Custom.Species.Talents != null) {
                        foreach (var talent in Data.Custom.Species.Talents) {
                            if (talent.species == context.Name) {
                                <li>@talent.Name</li>
                            }
                        }
                    }
                </ul>
            </div>
        </Template>
    </Col3Layout>
    }
</LCARS>

<LCARS Title="CUSTOM NPC TYPES">
    @if (Data.Custom != null && Data.Custom.NpcCharacterTypes != null) {
        <Col3Layout Items="Data.Custom.NpcCharacterTypes">
            <Template>
                <div>
                    <div class="row">
                        <div class="hbar elbow-left knee-left" style="width: 32px;"></div>
                        <div class="typeface" style="margin-left: 10px; margin-right: 10px;">
                            @context.Name 
                            <button class="w3-red" @onclick=@(() => confirmDeleteNpcType(context))>&times;</button>
                        </div>
                        <div class="hbar row-fill elbow-right knee-right"></div>
                    </div>
                </div>
            </Template>
        </Col3Layout>
    }
</LCARS>

<LCARS Title="CUSTOM ITEMS">
    @if (Data.Custom != null && Data.Custom.Items != null) {
        <Col3Layout Items="Data.Custom.Items">
            <Template>
                <div>
                    <div class="row">
                        <div class="hbar elbow-left knee-left" style="width: 32px;"></div>
                        <div class="typeface" style="margin-left: 10px; margin-right: 10px;">
                            @context.Name 
                            <button class="w3-red" @onclick=@(() => confirmDeleteItem(context))>&times;</button>
                        </div>
                        <div class="hbar row-fill elbow-right knee-right"></div>
                    </div>
                </div>
            </Template>
        </Col3Layout>
    }
</LCARS>

<ConfirmationDialog @ref="confirm">
</ConfirmationDialog>

@code {

    ConfirmationDialog confirm;

    private void confirmDeleteSpecies(CustomSpecies species) {
        confirm.Open($"Are you sure you want to delete the species '{species.Name}'?", () => deleteSpecies(species));
    }

    private void deleteSpecies(CustomSpecies species) {
        if (Data.Custom != null && Data.Custom.Species != null && Data.Custom.Species.Definitions != null) {
            Data.Custom.Species.Definitions.Remove(species);
            if (Data.Custom.Species.Talents != null) {
                Data.Custom.Species.Talents.RemoveAll((talent) => talent.species == species.Name);
            }
        }
        StateHasChanged();
    }

    private void confirmDeleteNpcType(NpcCharacter character) {
        confirm.Open($"Are you sure you want to delete the npc type '{character.Name}'?", () => deleteNpcType(character));
    }

    private void deleteNpcType(NpcCharacter character) {
        if (Data.Custom != null && Data.Custom.NpcCharacterTypes != null) {
            Data.Custom.NpcCharacterTypes.Remove(character);
        }
        StateHasChanged();
    }

    private void confirmDeleteItem(Item character) {
        confirm.Open($"Are you sure you want to delete the item '{character.Name}'?", () => deleteItem(character));
    }

    private void deleteItem(Item character) {
        if (Data.Custom != null && Data.Custom.Items != null) {
            Data.Custom.Items.Remove(character);
        }
        StateHasChanged();
    }


}