@page "/manage/characters/npc/{PlayerId}"
@inherits AppComponentBase

@if (HasCharacter) {
<PrintNotification/>

<div class="w3-container no-print lcars" style="text-align: right;">
    <button @onclick="Delete" class="w3-red">Delete</button>
</div>

<div id="character-sheet" class="lcars">
    <!-- Header -->
    <div id="player-info" class="container">
        <div class="row">
            <div class="primary" style="width: 120px">
                <img src="assets/starfleet.svg" style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto; margin-top: 32px;">
            </div>
            <div class="w3-padding row-fill">
                <h2 class="w3-right-align text-primary typeface">STARFLEET PERSONNEL RECORD</h2>
                <div class="w3-row">
                    <div class="w3-row">
                        <div class="w3-col w3-wide" style="width: 96px;">
                            <h4 class="text-secondary typeface" style="margin: 0;">NAME:</h4>
                        </div>
                        <div class="w3-rest w3-white">
                            @Player.Rank @Player.Name
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="hbar elbow-left" style="width: 56px;"></div>
            <div class="hbar row-fill" style="margin-right: 10px;"></div>
            <div class="hbar" style="width: 240px; max-width: 100%;"></div>
        </div>
    </div>
    <!-- Body -->
    <div id="body" class="container">
        <div class="row">
            <div class="hbar knee-left secondary" style="width: 56px;"></div>
            <div class="hbar row-fill secondary" style="margin-right: 10px;"></div>
            <div class="hbar highlight" style="width: 240px; max-width: 100%;"></div>
        </div>
        <div class="row">
            <div class="secondary" style="width: 120px"></div>
            <!-- Content -->
            <div class="w3-row row-fill">
                <div class="w3-col s6 w3-padding">
                    <AttributeDrawer Attributes="Player.Attributes"/>
                    <DisciplineDrawer Disciplines="Player.Disciplines"/>
                    <ListDrawer Title="VALUES" List="Player.Values"/>
                    <FocusDrawer Focuses="Player.Focuses"/>
                </div>
                <div class="w3-col s6 w3-padding">
                    <InjuryDrawer Player="Player"/>
                    <ListDrawer Title="SPECIAL RULES" List="Player.SpecialRules"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="hbar elbow-left secondary" style="width: 56px;"></div>
            <div class="hbar row-fill secondary" style="margin-right: 10px;"></div>
            <div class="hbar highlight" style="width: 240px; max-width: 100%;"></div>
        </div>
    </div>
</div>
} else {
    <span>No npc "@(PlayerId)"</span>
}

@code {

    [Parameter]
    public string PlayerId { get; set; }
    public int PlayerIndex {
        get {
            int index;
            if (int.TryParse(PlayerId, out index)) {
                return index;
            } else {
                return -1;
            }
        }
    }
    public NpcCharacter Player => PlayerIndex >=0 && PlayerIndex < Data.NPCs.Count ? Data.NPCs[PlayerIndex] : null;
    public bool HasCharacter => Player != null;

    public void Delete() {
        if (HasCharacter) {
            Data.NPCs.Remove(this.Player);
            NavigationManager.NavigateTo("manage/characters");
        }
    }

}