@typeparam TItem

<Popup @ref=popup>
    <div class="lcars">
        <div class="secondary elbow-left elbow-right knee-left knee-right">
            <h3>@Title</h3>
        </div>
        <div class="w3-container">
            Select a json file, or paste your save file json data into the text area below and press load. 
        </div>
    </div>

    <LocalFileInput Accept=".json" OnFileLoad=@((txt) => { jsonData =  txt; InvokeAsync(StateHasChanged); })></LocalFileInput>

    <textarea style="width: 100%; height: 480px; max-height: 50vh; resize: vertical;" @bind="jsonData"></textarea>
    @if (loadError != null) {
    <div class="w3-panel w3-red">
        <p>@loadError.Message</p>
    </div> 
    }
    <div class="w3-row">
        <div class="w3-col s6">
            <button class="w3-button" @onclick="Close"> Cancel</button>
        </div>
        <div class="w3-col s6 w3-right-align">
            <button class="w3-button" @onclick="Load"> Load</button>
        </div>
    </div>
</Popup>
@code {
    private Popup popup;

    [Parameter]
    public string Title {get; set;} = "Import";
    [Parameter]
    public Action<TItem> OnLoad {get; set;} = null;


    private string jsonData;
    private Exception loadError = null;

    public void Open() {
        popup.Open();
        jsonData = string.Empty;
        loadError = null;
    }

    public void Close() {
        popup.Close();
    }

    public void Load() {
        try {
            var newData = System.Text.Json.JsonSerializer.Deserialize<TItem>(jsonData);
            Close();
            if (OnLoad != null) {
                OnLoad(newData);
            }
        } catch (Exception e) {
            loadError = e;
        }
    }

}