@using System.Globalization
@typeparam TItem 

<Popup @ref=popup>
    <div class="lcars">
        <div class="secondary elbow-left elbow-right knee-left knee-right">
            <h3>@Title</h3>
        </div>
        <div class="w3-container">
            Click one of the items below to select it, then press "Add" to confirm.
        </div>
    </div>
    <div class="lcars">
        <div class="w3-padding">
            <input type="text" placeholder="filter" @bind="filter" style="width: 100%;"/>
        </div>
        <div style="max-height: 50vh; overflow: auto;">
        @if (Store != null && popup.IsVisible) {
            for (var i = 0; i < Store.Count; i++) {
                var capture = i;
                if (matchesFilter(Store[i])) {
                <button style="width: 100%" class="@(capture == index ? "secondary" : "primary")" @onclick="@(() => selectItem (capture))">
                    @ListingFunction(Store[i])            
                </button>
                }
            }
        }
        </div>
    </div>
    @if (AllowJsonImport) {
        <p class="w3-center">
            OR
        </p>
        <div class="w3-padding">
            <LocalFileInput Accept=".json" OnFileLoad=onFileLoaded></LocalFileInput>
        </div>
    }
    
    <div class="w3-row">
        <div class="w3-col s6">
            <button class="w3-button" @onclick="Close"> Cancel</button>
        </div>
        <div class="w3-col s6 w3-right-align">
            <button class="w3-button" @onclick="add"> Add</button>
        </div>
    </div>
</Popup>

@code {
    private Popup popup;

    [Parameter]
    public string Title {get; set;} = "Add";
    [Parameter]
    public List<TItem> Store {get; set;}
    [Parameter]
    public Action<TItem> OnAdd {get; set;}
    [Parameter]
    public Func<TItem, string> ListingFunction {get; set;} = stringListing;
    [Parameter]
    public bool AllowJsonImport {get; set;} = false;

    // Default listing function
    private static string stringListing (TItem item) {
        return item?.ToString();
    }

    private bool matchesFilter(TItem item) {
        if (filter == null)
            return true;

        var name = ListingFunction(item);
        if (CultureInfo.InvariantCulture.CompareInfo.IndexOf(name, filter, CompareOptions.IgnoreCase) >= 0) {
            return true;
        } else {
            return false;
        }
    }

    private int index = -1;
    private bool hasItem => use_loaded_item ? (loaded_item != null && !loaded_item.Equals(default(TItem))) : (Store != null && index >= 0 && index < Store.Count);
    private TItem item => use_loaded_item ? loaded_item : (hasItem ? Store[index] : default(TItem));

    private string filter;

    private TItem loaded_item = default(TItem);
    private bool use_loaded_item;
    private void onFileLoaded(string contents) {
        try {
            loaded_item = System.Text.Json.JsonSerializer.Deserialize<TItem>(contents);
            use_loaded_item = true;
            index = -1;
        } catch (Exception e) {
            Console.WriteLine(e.Message);
            loaded_item = default(TItem);
            use_loaded_item = false;
        }
    }

    private void selectItem(int i) {
        use_loaded_item = false;
        index = i;
    }
 
    public void ChangeAddListener(Action<TItem> action) {
        this.OnAdd = action;
    }

    public void Open() {
        popup.Open();
    }

    public void Close() {
        popup.Close();
    }

    private void add() {
        if (hasItem) {
            Close();
            if (OnAdd != null && item != null) {
                OnAdd(item);
            }
        }
    }
}