<Grid3x2Layout Title=@(() => "ATTRIBUTES")
    Item00=Attributes.ControlReference Item01=Attributes.FitnessReference Item02=Attributes.PresenceReference
    Item10=Attributes.DaringReference Item11=Attributes.InsightReference Item12=Attributes.ReasonReference
>
    <Template>
        <div class="w3-col s8 secondary border-secondary elbow-left knee-left typeface print-small" style="padding-left: 6px;">
            @context?.Name?.ToUpper()
        </div>
        <div class="w3-col s4 w3-white border-secondary w3-right-align elbow-right knee-right print-small">
            @context?.Value
        </div>
    </Template>
</Grid3x2Layout>

@code {

    [Parameter]
    public Attributes Attributes {get; set;}
}