@typeparam T

<div>
    @foreach (var group in this.Items.ByN(4)) {
        <div class="w3-row-padding w3-margin-bottom">
            @foreach (var element in group) {
                <div class="w3-quarter">
                    @Template(element)
                </div>
            }
        </div>
    }
</div>

@code {

    [Parameter] public RenderFragment<T> Template { get; set; }
    [Parameter] public IEnumerable<T> Items {get; set;}

}