<Popup @ref=popup>
    <div class="w3-padding w3-xlarge w3-center">
        @question
    </div>
    <div class="w3-row">
        <div class="w3-half w3-left-align">
            <button class="w3-red" @onclick=@(() => Cancel())>Cancel</button>
        </div>
        <div class="w3-half w3-right-align">
            <button class="w3-green" @onclick=@(() => Confirm())>Confirm</button>
        </div>
    </div>
</Popup>

@code {
    private Popup popup;
    private string question;
    private Action onConfirm;

    public void Open(string question, Action onConfirm = null) {
        this.question = question;
        this.onConfirm = onConfirm;
        popup.Open();
        StateHasChanged();
    }

    public void Cancel() {
        this.onConfirm = null;
        popup.Open();
        StateHasChanged();
    }
    public void Confirm() {
        this.onConfirm?.Invoke();
        this.onConfirm = null;
        popup.Open();
        StateHasChanged();
    }
}