<div class="w3-center w3-padding">
    This fan site is intended for personal and non-profit use only and is not sponsored, sanctioned, or affiliated with CBS Studios Inc., Paramount Pictures, Modiphius Entertainment, or the STAR TREK franchise. No copyright infringement is intended through the display of content on this site. Any copyrighted material is included under "fair use" principles. The Star Trek® franchise and related logos are owned by and are a registered trademark of Paramount Pictures & CBS Studios Inc. All Rights Reserved by their respective owners.
</div>