<div class="w3-center w3-padding">
    This tool is intended for personal use only.
    <br>STAR TREK and related marks and logos are trademarks of CBS Studios/Viacom. All Rights Reserved by their respective owners.
</div>