<Grid3x2Layout Title=@(() => Title) 
    Item00=Disciplines.CommandReference Item01=Disciplines.SecurityReference Item02=Disciplines.ScienceReference
    Item10=Disciplines.ConnReference Item11=Disciplines.EngineeringReference Item12=Disciplines.MedicineReference
>
    <Template>
        <div class="w3-col s8 secondary border-secondary elbow-left knee-left typeface print-small" style="padding-left: 6px;">
            @context?.Name?.ToUpper()
        </div>
        <div class="w3-col s4 w3-white border-secondary w3-right-align elbow-right knee-right print-small">
            @context?.Value
        </div>
    </Template>
</Grid3x2Layout>

@code {

    [Parameter]
    public Disciplines Disciplines {get; set;}

    [Parameter]
    public string Title {get; set;} = "DISCIPLINES";
}