<div class="w3-margin-bottom">
    <div class="row w3-margin-bottom">
        <div class="hbar elbow-left knee-left" style="width: 32px;"></div>
        <div class="typeface" style="margin-left: 10px; margin-right: 10px;">
            INJURIES 
        </div>
        <div class="hbar row-fill elbow-right knee-right"></div>
    </div>
    <div class="w3-padding w3-row w3-margin-bottom">
        <div class="w3-col s6 secondary border-secondary elbow-left knee-left typeface print-small">
            STRESS
        </div>
        <div class="w3-col s6 w3-white border-secondary w3-right-align elbow-right knee-right print-small">
            <input type="number" class="no-print w3-small" @bind="Player.UsedStress" style="width: 48px;"/> / @(Player.TotalStress)
        </div>
        
    </div>
    <div>
        <ul class="w3-ul w3-small">
            <li>&nbsp;</li>
            <li>&nbsp;</li>
            <li>&nbsp;</li>
            <li>&nbsp;</li>
        </ul>
    </div>
</div>

@code {
    [Parameter]
    public Character Player {get; set;}
}