@inherits LayoutComponentBase

<NavMenu />
<UtilitySidebar/>
<div class="w3-main" style="margin-left:250px;">
    <div class="w3-container" style="min-height:80vh;">
        @Body
    </div>
    <Copyright></Copyright>
    <TrekSharp.AdventureTools.Shared.Dice3d.DiceBox></TrekSharp.AdventureTools.Shared.Dice3d.DiceBox>
</div>

@code {
    public void Refresh() {
        StateHasChanged();
    }
}