@inherits LayoutComponentBase

<NavMenu />
<UtilitySidebar/>
<div class="w3-main" style="margin-left:200px;">
    <div class="w3-container" style="min-height:90vh;">
        @Body
    </div>
    <Copyright></Copyright>
</div>

@code {
    public void Refresh() {
        StateHasChanged();
    }
}