<div class="w3-margin-bottom no-split">
    <div class="row w3-margin-bottom">
        <div class="hbar elbow-left knee-left" style="width: 32px;"></div>
        <div class="typeface" style="margin-left: 10px; margin-right: 10px;">
            POWER 
        </div>
        <div class="hbar row-fill elbow-right knee-right"></div>
    </div>
    <div class="w3-row w3-margin-bottom">
        <div class="w3-row w3-col s6">
            <div class="w3-col s8 secondary border-secondary elbow-left knee-left typeface print-small" style="padding-left: 6px;">
                CURRENT
            </div>
            <div class="w3-col s4 w3-white border-secondary w3-right-align elbow-right knee-right print-small">
                <input type="number" class="w3-small no-print" style="width: 100%;" @bind="@Ship.PowerRemaining"/>
                <span class="print">&nbsp;</span>
            </div>
        </div>
        <div class="w3-col s6" style="padding-left: 16px;">
            <div class="w3-col s8 secondary border-secondary elbow-left knee-left typeface print-small" style="padding-left: 6px;">
                TOTAL
            </div>
            <div class="w3-col s4 w3-white border-secondary w3-right-align elbow-right knee-right print-small">
                @Ship.Power
            </div>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public Vessel Ship {get; set;}
}