<div id="print-notification" class="w3-padding no-print" style="text-align: center;">
    For a printable PDF this sheet, press CTRL + P and use your browser's <b>Print to PDF</b> functionality. Make sure to select <b>Background graphics</b> if you desire artwork.
    <hr/>
</div>