@inherits AppComponentBase;

<Popup @ref=popup>
    <p class="w3-center">
        If you used another character creator, but want to use TrekSharp to manage that character, simply enter the character's data from your character sheet to the appropriate fields below then press "Import".
    </p>
    @if (character != null) {
    <div class="row">
        <div class="hbar elbow-left knee-left" style="width: 32px;"></div>
        <span class="spacer typeface text-secondary w3-large">
            DETAILS
        </span>
        <div class="hbar row-fill elbow-right knee-right" style="margin-right: 10px;"></div>
    </div>
    <div>
        <div class="w3-row w3-padding">
            <div class="hbar elbow-left knee-left w3-padding-large w3-quarter">
                <span>Name</span>
            </div>
            <div class="w3-threequarter" style="padding-left: 10px">
                <input type="text" class="w3-input" @bind=character.Name placeholder="Name"/>
            </div>
        </div>
        <div class="w3-row w3-padding">
            <div class="hbar elbow-left knee-left w3-padding-large w3-quarter">
                <span>Rank</span>
            </div>
            <div class="w3-threequarter" style="padding-left: 10px">
                <input type="text" class="w3-input" @bind=character.Rank.Title placeholder="Rank Title"/>
            </div>
        </div>
        <div class="w3-row w3-padding">
            <div class="hbar elbow-left knee-left w3-padding-large w3-quarter">
                <span>Assignment</span>
            </div>
            <div class="w3-threequarter" style="padding-left: 10px">
                <input type="text" class="w3-input" @bind=character.Assignment placeholder="Assignment"/>
            </div>
        </div>
        <div class="w3-row w3-padding">
            <div class="hbar elbow-left knee-left w3-padding-large w3-quarter">
                <span>Species</span>
            </div>
            <div class="w3-threequarter" style="padding-left: 10px">
                <input type="text" class="w3-input" @bind=character.Species.Name placeholder="Species Name"/>
            </div>
        </div>
    </div>
    <div class="w3-row">
        <div class="w3-half">
            <div class="row">
                <div class="hbar elbow-left knee-left" style="width: 32px;"></div>
                <span class="spacer typeface text-secondary w3-large">
                    ATTRIBUTES
                </span>
                <div class="hbar row-fill elbow-right knee-right" style="margin-right: 10px;"></div>
            </div>
            <div>
                <div class="w3-row w3-padding">
                    <div class="hbar elbow-left knee-left w3-padding-large w3-quarter">
                        <span>Control</span>
                    </div>
                    <div class="w3-threequarter" style="padding-left: 10px">
                        <input type="number" class="w3-input" @bind=character.Attributes[0] placeholder="Name"/>
                    </div>
                </div>
                <div class="w3-row w3-padding">
                    <div class="hbar elbow-left knee-left w3-padding-large w3-quarter">
                        <span>Fitness</span>
                    </div>
                    <div class="w3-threequarter" style="padding-left: 10px">
                        <input type="number" class="w3-input" @bind=character.Attributes[2] placeholder="Name"/>
                    </div>
                </div>
                <div class="w3-row w3-padding">
                    <div class="hbar elbow-left knee-left w3-padding-large w3-quarter">
                        <span>Presence</span>
                    </div>
                    <div class="w3-threequarter" style="padding-left: 10px">
                        <input type="number" class="w3-input" @bind=character.Attributes[4] placeholder="Name"/>
                    </div>
                </div>
                <div class="w3-row w3-padding">
                    <div class="hbar elbow-left knee-left w3-padding-large w3-quarter">
                        <span>Daring</span>
                    </div>
                    <div class="w3-threequarter" style="padding-left: 10px">
                        <input type="number" class="w3-input" @bind=character.Attributes[1] placeholder="Name"/>
                    </div>
                </div>
                <div class="w3-row w3-padding">
                    <div class="hbar elbow-left knee-left w3-padding-large w3-quarter">
                        <span>Insight</span>
                    </div>
                    <div class="w3-threequarter" style="padding-left: 10px">
                        <input type="number" class="w3-input" @bind=character.Attributes[3] placeholder="Name"/>
                    </div>
                </div>
                <div class="w3-row w3-padding">
                    <div class="hbar elbow-left knee-left w3-padding-large w3-quarter">
                        <span>Reason</span>
                    </div>
                    <div class="w3-threequarter" style="padding-left: 10px">
                        <input type="number" class="w3-input" @bind=character.Attributes[5] placeholder="Name"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="hbar elbow-left knee-left" style="width: 32px;"></div>
                <span class="spacer typeface text-secondary w3-large">
                    DISCIPLINES
                </span>
                <div class="hbar row-fill elbow-right knee-right" style="margin-right: 10px;"></div>
            </div>
            <div>
                <div class="w3-row w3-padding">
                    <div class="hbar elbow-left knee-left w3-padding-large w3-quarter">
                        <span>Command</span>
                    </div>
                    <div class="w3-threequarter" style="padding-left: 10px">
                        <input type="number" class="w3-input" @bind=character.Disciplines[0] placeholder="Name"/>
                    </div>
                </div>
                <div class="w3-row w3-padding">
                    <div class="hbar elbow-left knee-left w3-padding-large w3-quarter">
                        <span>Security</span>
                    </div>
                    <div class="w3-threequarter" style="padding-left: 10px">
                        <input type="number" class="w3-input" @bind=character.Disciplines[1] placeholder="Name"/>
                    </div>
                </div>
                <div class="w3-row w3-padding">
                    <div class="hbar elbow-left knee-left w3-padding-large w3-quarter">
                        <span>Science</span>
                    </div>
                    <div class="w3-threequarter" style="padding-left: 10px">
                        <input type="number" class="w3-input" @bind=character.Disciplines[2] placeholder="Name"/>
                    </div>
                </div>
                <div class="w3-row w3-padding">
                    <div class="hbar elbow-left knee-left w3-padding-large w3-quarter">
                        <span>Conn</span>
                    </div>
                    <div class="w3-threequarter" style="padding-left: 10px">
                        <input type="number" class="w3-input" @bind=character.Disciplines[3] placeholder="Name"/>
                    </div>
                </div>
                <div class="w3-row w3-padding">
                    <div class="hbar elbow-left knee-left w3-padding-large w3-quarter">
                        <span>Engineering</span>
                    </div>
                    <div class="w3-threequarter" style="padding-left: 10px">
                        <input type="number" class="w3-input" @bind=character.Disciplines[4] placeholder="Name"/>
                    </div>
                </div>
                <div class="w3-row w3-padding">
                    <div class="hbar elbow-left knee-left w3-padding-large w3-quarter">
                        <span>Medicine</span>
                    </div>
                    <div class="w3-threequarter" style="padding-left: 10px">
                        <input type="number" class="w3-input" @bind=character.Disciplines[5] placeholder="Name"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="w3-half">
            <div class="row">
                <div class="hbar elbow-left knee-left" style="width: 32px;"></div>
                <span class="spacer typeface text-secondary w3-large">
                    FOCUSES
                </span>
                <div class="hbar row-fill elbow-right knee-right" style="margin-right: 10px;"></div>
            </div>
            <div>
                <StringEditor Items=character.Focuses></StringEditor>
                <div class="w3-row w3-padding">
                    <div class="w3-half w3-left-align">
                        <button class="w3-red" @onclick=@(() => { if (character.Focuses.Count > 0) { character.Focuses.RemoveAt(character.Focuses.Count - 1); } })>-</button>
                    </div>
                    <div class="w3-half w3-right-align">
                        <button class="w3-blue" @onclick=@(() => character.Focuses.Add(string.Empty))>+</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
    <div class="w3-row w3-padding">
        <div class="w3-half w3-left-align">
            <button class="w3-red" @onclick=@(() => Cancel())>Cancel</button>
        </div>
        <div class="w3-half w3-right-align">
            <button class="w3-green" @onclick=@(() => Confirm())>Import</button>
        </div>
    </div>
</Popup>

@code {
    Popup popup;

    [Parameter] public Action OnImport {get; set;}

    private SupportCharacter character;

    private void Cancel() {
        popup.Close();
    }
    private void Confirm() {
        if (character != null) {
            Data.Supports.Add(character);
            OnImport?.Invoke();
        }
        popup.Close();
    }

    public void Open() {
        // Base "character"
        character = new SupportCharacter {
            Name = string.Empty,
            Rank = new Rank {
                Faction = Faction.Starfleet,
                Order = int.MinValue, // Unknown
                Title = string.Empty,
            },
            Species = new Species {
                Name = string.Empty,
                AttributeModifiers = null
            },
            Assignment = string.Empty,
            Attributes = new Attributes {
                Control     = 7,
                Fitness     = 7,
                Presence    = 7,
                Daring      = 7,
                Insight     = 7,
                Reason      = 7,          
            },
            Disciplines = new Disciplines {
                Command     = 1,
                Security    = 1,
                Science     = 1,
                Conn        = 1,
                Engineering = 1,
                Medicine    = 1,
            },
            Equipment = new List<Item>() {
                TrekSharp.Rulebooks.CoreRulebook.Instance.Items.ElementAt(0),
                TrekSharp.Rulebooks.CoreRulebook.Instance.Items.ElementAt(1),
                TrekSharp.Rulebooks.CoreRulebook.Instance.Items.ElementAt(2),
                TrekSharp.Rulebooks.CoreRulebook.Instance.Items.ElementAt(3),
                TrekSharp.Rulebooks.CoreRulebook.Instance.Items.ElementAt(4)
            },
            Focuses = new List<string>(),
        };

        popup.Open();
        StateHasChanged();
    }
}