<div class="w3-container">
    <div class="w3-row">
        <div class="w3-half w3-padding">
            @Left
        </div>
        <div class="w3-half w3-padding">
            @Right
        </div>
    </div>
</div>

@code {

    [Parameter] public RenderFragment Left { get; set; }
    [Parameter] public RenderFragment Right { get; set; }

}