<ul class="w3-ul">
    @for (var i = 0; i < Items.Count; i++){
        var this_index = i;
        <li style="border: none;">
            @(this_index). <select class="lcars-border-primary typeface" style="width: 100%; background-color: black" @bind=Items[this_index] >
                                @foreach (var option in Options) {
                                    <option value="@option">@option</option>
                                }
                           </select>
        </li>
    }
</ul>


@code {
    [Parameter] public List<string> Items {get; set;}
    [Parameter] public List<string> Options {get; set;}
}