<Grid3x2Layout Title=@(() => "SYSTEMS")
    Item00=Systems.CommsReference Item01=Systems.EnginesReference Item02=Systems.StructureReference
    Item10=Systems.ComputersReference Item11=Systems.SensorsReference Item12=Systems.WeaponsReference
>
    <Template>
        <div class="w3-col s8 secondary border-secondary elbow-left knee-left typeface print-small" style="padding-left: 6px;">
            @context?.Name?.ToUpper()
        </div>
        <div class="w3-col s4 w3-white border-secondary w3-right-align elbow-right knee-right print-small">
            @context?.Value
        </div>
    </Template>
</Grid3x2Layout>

@code {

    [Parameter]
    public Systems Systems {get; set;}
}